body { font-family: 'Roboto Slab', serif; 
	font-size: 16px;
	line-height: 145%;
	background-color: #F5F5F0;
	color: #2C3539;
}

h1{
	font-size: 450%;
}

h2{
	border-bottom: 2px solid #D6D6C2;
}

p.small {
    line-height: 10px;
}
